www.irix.dev {
    redir https://irix.dev
}

localhost, irix.dev {
    root * /usr/share/caddy
    file_server
    
    
    handle /metrix* {
        uri strip_prefix /metrix
        reverse_proxy metrix_web:80

        handle /graphql {
            reverse_proxy metrix_api:4000
        }
    }

    handle /tictactoe* {
        uri strip_prefix /tictactoe
        reverse_proxy ui:5000

        handle /graphql {
            reverse_proxy api:3000
        }
    }

    handle /rightmove-commute* {
        uri strip_prefix /rightmove-commute
        reverse_proxy rightmove-commute-api:6000
    }
}